<md-card class="browsertree">

  <md-input
    placeholder="Suchen" type="text"
    [(ngModel)]="query"
    (keyup.enter)="filterArtists(query)">
  </md-input>

  <!--  | search:query -->
  <!--(keyup.enter)="filterArtists(query)"-->

  <md-list>
    <md-list-item
      *ngFor="let artist of artists"
      [routerLink]="['/main/', artist.id]"
      [class.active]="artist.id == selectedId">

      <b md-line class="artistItem"> {{artist.name}} </b>
      <!--<p md-line> {{artist.id}} </p>-->

    </md-list-item>
  </md-list>

</md-card>
