.browsertree {
    padding: 20px;
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.artistItem {
    max-width: 300px;
}

md-input {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}

.active {
    color: blue;
    background-color: red;
}

md-list {
    overflow: auto;
    
}