<md-card class="browsertree">

  <div class="chipContainer">
    <div class="chip"
         [class.chipActive]="isChoiceArtists"
         (click)="changeSearch(true)">
      Künstler
    </div>

    <div class="chip"
         [class.chipActive]="!isChoiceArtists"
         (click)="changeSearch(false)">
      Labels
    </div>
  </div>

  <md-input
    placeholder="Suchen" type="text"
    [(ngModel)]="query"
    (keyup.enter)="searchQuery(query)">
  </md-input>

  <!--  | search:query -->
  <!--(keyup.enter)="filterArtists(query)"-->
  <div id="scroll-container">
    <md-list infinite-scroll
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="300"
             (scrolled)="onScroll()"
             [scrollWindow]="false">
      <md-list-item
        *ngFor="let item of items"
        [routerLink]="[isChoiceArtists ? '/artist/' : '/label/', item.id]"
        [class.active]="item.id == selectedItem">
        <b md-line class="listItem"> {{item.name}} </b>
      </md-list-item>
    </md-list>
  </div>
</md-card>
