.browsertree {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;
}

.chipContainer {
    margin: 16px;
}

#scroll-container {
  position: relative;
}

.listItem {
    width: 300px;
}

md-input {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}

.active {
    color: #607d8b;
}

md-list {
    max-height: 80vh;
    overflow: auto;
}
