<div class="modulecontainer">

  <div *ngIf="sharedService.isChoiceArtists">

    <div class="hint" [hidden]="!noArtistSelected">
      Wähle einen Artist.
    </div>

    <md-card class="module" [hidden]="noArtistSelected || !sharedService.isWikipediaEnabled">
      <app-wikipedia></app-wikipedia>
    </md-card>

    <md-card class="module" [hidden]="noArtistSelected || !sharedService.isDiscographyEnabled">
      <app-releases></app-releases>
    </md-card>

    <md-card class="module" [hidden]="noArtistSelected || !sharedService.isPopularityEnabled">
      <app-popularitygraph [data]="popularityGraphData"></app-popularitygraph>
    </md-card>

    <md-card class="module" [hidden]="noArtistSelected || !sharedService.isYoutubeEnabled">
      <app-youtube></app-youtube>
    </md-card>

  </div>

  <div *ngIf="!sharedService.isChoiceArtists">

    <div class="hint" [hidden]="!noLabelSelected">
      Wähle ein Label.
    </div>

    <md-card class="module" [hidden]="noLabelSelected">
      <h2>Labelmodul-Platzhalter</h2>
    </md-card>

  </div>

</div>
