#parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

#browser { 
    background-color: #EEEEEE;
    flex-grow: 1;
    padding: 20px;
    padding-right: 10px;
}

#modules { 
    background-color: #EEEEEE;
    min-height: 100%;
    flex-grow: 5;
    padding: 20px;
    padding-left: 10px;
}