html {
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}

html, body, app-root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fafafa;

  font-family: 'Roboto', sans-serif;
}

.root-container {
  padding-top: 56px;
  min-height: 100vh;
}

.chip {
    display: inline-block;
    padding: 0 16px;
    margin-right: 8px;
    width: 80px;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    border-radius: 4px;
    background-color: #fafafa;

    cursor: pointer;
}

.chipActive {
    background-color: #607d8b;
    color: white;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

#parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

#browser {
  background-color: #fafafa;
  flex-grow: 1;
  padding: 16px 8px 16px 16px;
}

#modules {
  background-color: #fafafa;
  flex-grow: 5;
  padding: 16px 16px 16px 8px;
}

.modulecontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.module {
  width: 100%;
  min-height: 80px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #ffffff;
}

.module:last-child {
  margin-bottom: 0px;
}

.hint {
  width: 100%;
  height: calc(100vh - 88px);
  text-align: center;
  vertical-align: middle;
  line-height: calc(100vh - 88px);
}
