<h2>Diskographie</h2>

<div class="releaseContainer">
  <div class="release">
    <span class="title"><b>Titel</b></span>
    <span class="year"><b>Datum</b></span>
    <span class="status"><b>Status</b></span>
  </div>
  <div class="release" *ngFor="let release of releases">
    <span class="title"><a target="_blank" href="http://musicbrainz.org/release/{{release.id}}">{{release.title}}</a></span>
    <span class="year">{{release.date}}</span>
    <span class="status">{{release.status}}</span>
  </div>
</div>