<div id="bg" class="row">
  <md-card class="settings">

    <md-card-title>Einstellungen</md-card-title>
    <md-card-content>
      <h4>Künstlermodule</h4>
      <div class="settingsContainer1">
        <div class="setting" (click)="sharedService.setWikipedia()">
          <input type="checkbox" class="cb" name="wiki" [checked]="sharedService.isWikipediaEnabled">
          <span>Wikipedia-Modul anzeigen</span>
        </div>
        <div class="setting" (click)="sharedService.setDiscography()">
          <input type="checkbox" class="cb" name="disc" [checked]="sharedService.isDiscographyEnabled">
          <span>Diskographie-Modul anzeigen</span>
        </div>
        <div class="setting" (click)="sharedService.setPopularity()">
          <input type="checkbox" class="cb" name="popu" [checked]="sharedService.isPopularityEnabled">
          <span>Popularitäts-Modul anzeigen</span>
        </div>
        <div class="setting" (click)="sharedService.setYoutube()">
          <input type="checkbox" class="cb" name="disc" [checked]="sharedService.isYoutubeEnabled">
          <span>Youtube-Modul anzeigen</span>
        </div>
      </div>

      <h4>Labelmodule</h4>
      <div class="settingsContainer1">
        <div class="setting" (click)="sharedService.setLabelLinks()">
          <input type="checkbox" class="cb" name="wiki" [checked]="sharedService.isLabelLinksEnabled">
          <span>Labellink-Modul anzeigen</span>
        </div>
      </div>
    </md-card-content>

  </md-card>
</div>