<div id="bg" class="row">
  <md-card class="settings">

    <md-card-title>Einstellungen</md-card-title>
    <md-card-content>
      <h4>Künstlermodule</h4>
      <div class="settingsContainer1">
        <div class="setting">
          <input type="checkbox" class="cb" name="wiki" [(ngModel)]="sharedService.isWikipediaEnabled">
          <span (click)="setWikipedia()">Wikipedia-Modul anzeigen</span>
        </div>
        <div class="setting">
          <input type="checkbox" class="cb" name="disc" [(ngModel)]="sharedService.isDiscographyEnabled">
          <span (click)="setDiscography()">Diskographie-Modul anzeigen</span>
        </div>
        <div class="setting">
          <input type="checkbox" class="cb" name="popu" [(ngModel)]="sharedService.isPopularityEnabled">
          <span (click)="setPopularity()">Popularitäts-Modul anzeigen</span>
        </div>
        <div class="setting">
          <input type="checkbox" class="cb" name="disc" [(ngModel)]="sharedService.isYoutubeEnabled">
          <span (click)="setYoutube()">Youtube-Modul anzeigen</span>
        </div>
      </div>

      <h4>Labelmodule</h4>
      <div class="settingsContainer1">
        <div class="setting">
          <input type="checkbox" class="cb" name="wiki" [(ngModel)]="sharedService.isLabelLinksEnabled">
          <span (click)="setLabelLinks()">Labellink-Modul anzeigen</span>
        </div>
      </div>
    </md-card-content>

  </md-card>
</div>