/* global styles, NOT module specific styles */

html, body, app-root, div.row { 
  margin:0; 
  padding:0; 
  min-height: 100%;
  height: auto; 
}

div.row {
  padding-top: 50px;
  min-height: 100vh;
}

.chip {
    display: inline-block;
    padding: 0 15px;
    margin: 5px 5px;
    width: 80px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #eeeeee;
}

.chipActive {
    background-color: steelblue;
    color: white;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #FFFFFF;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}