.releaseContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.release {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    width: 100%;
}

.title {
    margin-right: 10px;
    width: 400px;
}

.year {
    margin-right: 10px;
    width: 100px;
}

.status {
    width: auto;
}

/* Links */

a {
  text-decoration: none;
}

a:link {
    color: #607d8b;
}

a:visited {
    color: #607d8b;
}

a:hover {
    color: #607d8b;
}

a:active {
    color: #607d8b;
}